@use "../../../styles/variables" as vars;

leaf-slider {
  display: flex;
  align-items: center;
  gap: 10px;

  .slider {
    appearance: none;
    flex: 1;
    height: 4px;
    background: black;
    border-radius: 4px;
    outline: none;
    cursor: pointer;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 14px;
      height: 14px;
      background: vars.$primaryColor;
      border-radius: 50%;
      border: 2px solid white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 14px;
      height: 14px;
      background: vars.$primaryColor;
      border-radius: 50%;
      border: 2px solid white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  }

  .slider-val {
    font-size: 11px;
    color: black;
    min-width: 36px;
    text-align: right;
  }
}
