@use "variables";

@use "../view/SearchBar/SearchBar";
@use "../view/LeftSidebar/LeftSidebar";
@use "../view/MapControls/MapControl";
@use "../view/MapLayers/MapLayers";
@use "../view/MapStatusBar/MapStatusBar";
@use "../view/AttributionControl/AttributionControl";
@use "../view/components/Button/LeafButton";

html, body {
  margin: 0;
  height: 100%;
}

#map {
  height: 100%;
}

button {
  border-width: 0;
  background-color: unset;

  &:hover {
    cursor: pointer;
  }
}